In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/gapminder_unfiltered.csv')
df

In [ ]:
df.country.unique()

In [ ]:
[{'value':value,'label':value} for value in df.country.unique()]

In [4]:
dff = df[df.country == 'Taiwan']
#display(dff)
pop_diff = dff[['country', 'year', 'pop']]
display(pop_diff)
pop_diff.to_dict('records')

     country  year       pop
2957  Taiwan  1950   7981454
2958  Taiwan  1951   8251326
2959  Taiwan  1952   8550362
2960  Taiwan  1953   8849962
2961  Taiwan  1954   9159966
2962  Taiwan  1955   9485858
2963  Taiwan  1956   9825346
2964  Taiwan  1957  10164215
2965  Taiwan  1958  10500314
2966  Taiwan  1959  10852996
2967  Taiwan  1960  11209160
2968  Taiwan  1961  11563348
2969  Taiwan  1962  11918938
2970  Taiwan  1963  12276610
2971  Taiwan  1964  12631480
2972  Taiwan  1965  12977635
2973  Taiwan  1966  13321002
2974  Taiwan  1967  13648692
2975  Taiwan  1968  13962358
2976  Taiwan  1969  14282297
2977  Taiwan  1970  14598316
2978  Taiwan  1971  14918496
2979  Taiwan  1972  15226039
2980  Taiwan  1973  15525588
2981  Taiwan  1974  15824103
2982  Taiwan  1975  16122188
2983  Taiwan  1976  16450056
2984  Taiwan  1977  16785196
2985  Taiwan  1978  17111535
2986  Taiwan  1979  17450136
2987  Taiwan  1980  17848320
2988  Taiwan  1981  18177430
2989  Taiwan  1982  18501390
2990  Taiwan  1983  18803390
2991  Taiwan  1984  19083348
2992  Taiwan  1985  19337363
2993  Taiwan  1986  19555581
2994  Taiwan  1987  19757799
2995  Taiwan  1988  19976096
2996  Taiwan  1989  20207541
2997  Taiwan  1990  20278957
2998  Taiwan  1991  20492997
2999  Taiwan  1992  20686918
3000  Taiwan  1993  20883467
3001  Taiwan  1994  21087873
3002  Taiwan  1995  21282829
3003  Taiwan  1996  21448723
3004  Taiwan  1997  21628605
3005  Taiwan  1998  21823024
3006  Taiwan  1999  21993460
3007  Taiwan  2000  22151237
3008  Taiwan  2001  22303700
3009  Taiwan  2002  22454239
3010  Taiwan  2003  22603000
3011  Taiwan  2004  22749838
3012  Taiwan  2005  22894384
3013  Taiwan  2006  23036087
3014  Taiwan  2007  23174294

[{'country': 'Taiwan', 'year': 1950, 'pop': 7981454},
 {'country': 'Taiwan', 'year': 1951, 'pop': 8251326},
 {'country': 'Taiwan', 'year': 1952, 'pop': 8550362},
 {'country': 'Taiwan', 'year': 1953, 'pop': 8849962},
 {'country': 'Taiwan', 'year': 1954, 'pop': 9159966},
 {'country': 'Taiwan', 'year': 1955, 'pop': 9485858},
 {'country': 'Taiwan', 'year': 1956, 'pop': 9825346},
 {'country': 'Taiwan', 'year': 1957, 'pop': 10164215},
 {'country': 'Taiwan', 'year': 1958, 'pop': 10500314},
 {'country': 'Taiwan', 'year': 1959, 'pop': 10852996},
 {'country': 'Taiwan', 'year': 1960, 'pop': 11209160},
 {'country': 'Taiwan', 'year': 1961, 'pop': 11563348},
 {'country': 'Taiwan', 'year': 1962, 'pop': 11918938},
 {'country': 'Taiwan', 'year': 1963, 'pop': 12276610},
 {'country': 'Taiwan', 'year': 1964, 'pop': 12631480},
 {'country': 'Taiwan', 'year': 1965, 'pop': 12977635},
 {'country': 'Taiwan', 'year': 1966, 'pop': 13321002},
 {'country': 'Taiwan', 'year': 1967, 'pop': 13648692},
 {'country': 'Taiwan', 'year': 1968, 'pop': 13962358},
 {'country': 'Taiwan', 'year': 1969, 'pop': 14282297},
 {'country': 'Taiwan', 'year': 1970, 'pop': 14598316},
 {'country': 'Taiwan', 'year': 1971, 'pop': 14918496},
 {'country': 'Taiwan', 'year': 1972, 'pop': 15226039},
 {'country': 'Taiwan', 'year': 1973, 'pop': 15525588},
 {'country': 'Taiwan', 'year': 1974, 'pop': 15824103},
 {'country': 'Taiwan', 'year': 1975, 'pop': 16122188},
 {'country': 'Taiwan', 'year': 1976, 'pop': 16450056},
 {'country': 'Taiwan', 'year': 1977, 'pop': 16785196},
 {'country': 'Taiwan', 'year': 1978, 'pop': 17111535},
 {'country': 'Taiwan', 'year': 1979, 'pop': 17450136},
 {'country': 'Taiwan', 'year': 1980, 'pop': 17848320},
 {'country': 'Taiwan', 'year': 1981, 'pop': 18177430},
 {'country': 'Taiwan', 'year': 1982, 'pop': 18501390},
 {'country': 'Taiwan', 'year': 1983, 'pop': 18803390},
 {'country': 'Taiwan', 'year': 1984, 'pop': 19083348},
 {'country': 'Taiwan', 'year': 1985, 'pop': 19337363},
 {'country': 'Taiwan', 'year': 1986, 'pop': 19555581},
 {'country': 'Taiwan', 'year': 1987, 'pop': 19757799},
 {'country': 'Taiwan', 'year': 1988, 'pop': 19976096},
 {'country': 'Taiwan', 'year': 1989, 'pop': 20207541},
 {'country': 'Taiwan', 'year': 1990, 'pop': 20278957},
 {'country': 'Taiwan', 'year': 1991, 'pop': 20492997},
 {'country': 'Taiwan', 'year': 1992, 'pop': 20686918},
 {'country': 'Taiwan', 'year': 1993, 'pop': 20883467},
 {'country': 'Taiwan', 'year': 1994, 'pop': 21087873},
 {'country': 'Taiwan', 'year': 1995, 'pop': 21282829},
 {'country': 'Taiwan', 'year': 1996, 'pop': 21448723},
 {'country': 'Taiwan', 'year': 1997, 'pop': 21628605},
 {'country': 'Taiwan', 'year': 1998, 'pop': 21823024},
 {'country': 'Taiwan', 'year': 1999, 'pop': 21993460},
 {'country': 'Taiwan', 'year': 2000, 'pop': 22151237},
 {'country': 'Taiwan', 'year': 2001, 'pop': 22303700},
 {'country': 'Taiwan', 'year': 2002, 'pop': 22454239},
 {'country': 'Taiwan', 'year': 2003, 'pop': 22603000},
 {'country': 'Taiwan', 'year': 2004, 'pop': 22749838},
 {'country': 'Taiwan', 'year': 2005, 'pop': 22894384},
 {'country': 'Taiwan', 'year': 2006, 'pop': 23036087},
 {'country': 'Taiwan', 'year': 2007, 'pop': 23174294}]

In [ ]:
df.to_dict(orient='records')